body {
  font-family: "Raleway", serif;
  color: #333333;
  background-color: #F7F9FF;
}

h1 {
  font-size: 32pt;
  font-weight: 800;
}

h2 {
  font-size: 22pt;
  font-weight: 700;
}

h3 {
  font-size: 18pt;
  font-weight: 700;
}

h4 {
  font-size: 18pt;
  color: #717171;
  font-weight: 600;
}

h5 {
  font-size: 16pt;
  font-weight: 600;
}

.main {
  margin: 60px;
  flex-grow: 1;
}

.page {
  display: flex;
  width: 100%;
}

.container {
  border-radius: 12px;
  background: #fff;
}

.h-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#navbar {
  background-color: #fff;

  display: flex;
  flex-direction: column;

  width: 160px;
  height: 100vh;

  padding: 20px;
}

#navbar * {
  color: #333;

  font-size: 12pt;
  font-weight: 500;

  text-decoration: none;

  padding-top: 4px;
  padding-bottom: 4px;
}

#navbar *:hover {
  font-weight: 600;
}

#navbar *.active {
  color: blue;
  font-weight: 700;
}

.ratingContainer {
  height: 60px;
  width: 60px;
  border-radius: 100px;

  position: relative
}

.rating {
  
  font-size: 36pt;
  font-weight: 800;

  height: 60px;
  width: 60px;
  border-radius: 100px;
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.editRatingButton {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 100px;

  background-color: rgba(33, 33, 33, 0.6);
  border: 0;

  font-size: 10pt;
  color: #fff;
  font-weight: 600;
  text-decoration: underline;

  opacity: 0%
}

.editRatingButton:hover {
  opacity: 100%;
}

.editRatingModal {
  position: fixed;
  left: 240px;
  background-color: #fff;
  padding: 20px;

  border: 1px solid rgba(80, 80, 80, 0.2);
  border-radius: 4px;

  z-index: 2;
}

.ratingButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 16px;
}

.ratingButtons * {
  font-size: 28pt;
  font-weight: 800;

  height: 60px;
  width: 60px;
  border-radius: 100px;

  color: #fff;
  background-color: #D9D9D9;

  margin-left: 8px;
  margin-right: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  border: 0
}

.pillButton {
  background-color: #2680FF;
  color: #fff;

  font-size: 12pt;
  font-weight: 700;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px; 

  border-radius: 20px;
}

.oneRate {
  background-color: #148943;
  color: #fff;
}

.twoRate {
  background-color: #9DE06E;
}

.threeRate {
  background-color: #FFD900;
}

.fourRate {
  background-color: #F3A72D;
  color: #fff;
}

.fiveRate {
  background-color: #FF7D38;
  color: #fff;
}

.strikeRate {
  background-color: #FF2A2A;
  color: #fff;
}

.noRate {
  background-color: #6A6A6A;
  color: #fff;
}

.judgeProfTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.judgePreview {
  text-decoration: none;
  color: #333;

  background-color: white;
  padding: 20px;

  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.judgePrevName {
  font-size: 16pt;
  font-weight: 600;
  text-decoration: none;
  color: #333;

}

.judgePrevName:hover {
  text-decoration: underline;
}

.hover:hover {
  text-decoration: underline;
}

.search-bar {
  height: 40px;
  width: 100%;

  font-size: 12pt;
  color: #6a6a6a;

  padding-left: 16px;
  
  border: solid rgba(217, 217, 217, 0.5);

  border-radius: 4px;
}

.cta {
  background-color: #2680FF;

  color: #fff;
  font-weight: bold;

  padding: 8px 16px;

  border-radius: 20px;
}